@import url("https://fonts.googleapis.com/css2?family=Sono:wght@300;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Sono", sans-serif;
}

header {
  background-image: url("https://images.pexels.com/photos/1672813/pexels-photo-1672813.jpeg?auto=compress&cs=tinysrgb&w=600");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line {
  width: 600px;
  height: 10px;
  background-color: crimson;
  margin: 10px auto;
  border-radius: 5px;
}
header h2 {
  padding: 1rem;
  /* background-color: greenyellow; */
  text-transform: capitalize;
  font-weight: bolder;
  color: azure;
  font-size: 4vmin;
}
header h1 {
  text-transform: capitalize;
  color: aliceblue;
  font-size: 3.5vmin;
  margin-top: 50px;
  margin-bottom: 30px;
  /* margin-left: 50px; */
  text-align: center;
}
.button {
  margin-left: 13rem;
}
.button a {
  font-size: 3vmin;
  background-color: crimson;
  border-radius: 3rem;
  padding: 1px 10px;
  margin: 10px;
  color: white;
  text-decoration: none;
  font-weight: bolder;
  text-transform: capitalize;
}
.navLinks li a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}
.navLinks .cnt {
  background-color: crimson;
  border-radius: 3rem;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: azure;
}
